body{
  background-color: salmon;
  font: helvetica;
}
.jumbotron{
  background-image: url(http://cliparts.co/cliparts/gie/ERk/gieERkyzT.png);
  color:  #800080;
  font-size: 300px;
  font: helvetica;

}
h1{
  color: black;
  font: helvetica;
  font-size: 100px
}
.happy21stbirthday{
  color: purple;
  font: helvetica;
  font-size: 200px;
  text-align: center;

}
.tomstephanie{
  color: white;
  font: helvetica;
  font-size: 100px;
  text-align: center;

}
.flashback{
  text-align: center;
  font-size: 80px;
  color: white;
}
.openthedoor{
  text-align: center;
  font-size: 40px;
  color:  #800000
}
.cheungchau{
  text-align: center;
}
.michelleswedding{
  text-align: center;
}
.flowerlightshow{
  text-align: center;
}
.alignphoto{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.flashback2{
  text-align: center;
  font-size: 60px;
  color: white;
}
.boyfriendsbirthday{
  text-align: center;
}
.londontrip{
  text-align: center;
}
.goodtimes{
  text-align: center;
}



