body{
  background-color: salmon;
}
h1{
  color: black;
  font: helvetica;
  font-size: 100px
}
.happy21stbirthday{
  color: purple;
  font: helvetica;
  font-size: 100px
}
.tomstephanie{
  color: blue;
  font: helvetica;
  font-size: 100px
}
